@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: image_url('spiration-light.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar {
  background: image_url('country-quilt-dark.png');
  box-shadow: 0px 1px 3px #2a2a2a;
  font-family: 'Dancing Script', cursive;
}

.navbar-inverse .navbar-brand {
  font-size:26px;
  font-family: 'Dancing Script', cursive;
  color: #c4daff;
  margin-bottom: 0;
}

.digg_pagination {
  background: transparent;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 3px; }
  .digg_pagination .disabled {
    color: #999999;
    /*border: 1px solid #dddddd;*/ }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: grey;
    color: white;
    /*border: 1px solid grey;*/ }
  .digg_pagination a {
    font-weight: bold;
    text-decoration: none;
    color: #575857;
    /*border: 3px solid #575857;*/ }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #D04D7B;
      border-color: #D04D7B; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

    .help-block {
      color: #ff3333;
      background-color: #FFEEEE;
      border-radius: 3px;
      padding: 2px 8px 2px 8px;
    }

    #map {
      height: 300px;
}

.clear {
    clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.image-class {
  height: 150px;
  border-radius: 50px;
  border-style: solid;
  border-color: white;
  margin-top: 40px;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 550px;
  width: 100%;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-caption {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}
