
<div class="booyah-box col-10 offset-1">
  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
  <br/><br/>
  <p><%= @place.description %></p>

  <% if @place.latitude.present? && @place.longitude.present? %>

   <script>
   function initMap() {
      var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: myLatLng
      });
      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlY1w5LItPgEEmj_vLmQ3mq5XMoPz7LpU&callback=initMap">
    </script>

    <div id="map"></div>
<% end %>

<div class="booyah-box col-10 offset-1">
  <h1>Photos</h1>
  <% @place.photos.each do |photos| %>
    <%= image_tag photos.picture.url.to_s, class: "image-class" %>
    <%= photos.caption %>
  <% end %>
  <%= simple_form_for @photo, url: place_photos_path(@place.id) do |f| %>
  <br />
    <div class="col-12 col-sm-6">
      <%= f.file_field :picture %>
      <%= f.submit "upload" %>
    </div>
  <% end %>
</div>


  <div class="float-right">
    <% if current_user && current_user == @place.user %>
      <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
      <%= link_to 'Destroy', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg, booyah-box col-6 offset-3" data-toggle="modal" data-target="#myModal">
  Add a comment
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add a comment</h4>
      </div>
      <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
        <div class="modal-body">
          <%= f.input :message %>
          <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="booyah-box col-10 offset-1">
<h1>Comments</h1>
<div class="row">
<% @place.comments.each do |comment| %>
<div class="col-12 col-sm-6">
    <blockquote>
      <% if comment.humanized_rating.present? %>
        <b><%= comment.humanized_rating %></b> -
      <% end %>
      <%= comment.message %>
      <br />
      <small><%= comment.user.email %></small>
    </blockquote>
    </div>
    <% end %>
  </div>
</div>
